// App-wide constants; includes colors, font sizes, etc.


// gradient colors
$grad-color-1: #8a2387;
$grad-color-2: #e94057;
$grad-color-3: #f27121;
$default-grad-angle: 135deg;


// font family string/list
$default-font-family: "Open Sans", 'Segoe UI', Tahoma, Verdana, sans-serif;
$default-color-offwhite: #eee;