// imports
@import '~src/assets/scss/common';
@import '~src/assets/scss/consts';


// constants
$FONT-SIZE: 1.25em;

div.paper {
	color: $default-dark-bg;	// in dark mode, use the default bg color as foreground

	// sizing
	min-width: 150px;
	width: 100%;
	max-width: 80vw;

	// children
	&>textarea {
		transition: all 0.5s linear;

		// text & typeface
		color: $default-dark-color;
		font-family: $default-font-family;
		font-size: $FONT-SIZE;

		// box
		resize: none;
		box-sizing: border-box;
		width: 100%;
		padding: 1em;
		height: 50vh;
		border: none;
		// border-bottom: 1px solid $default-dark-color;
		background: none;

		
		// focused
		&:focus {
			outline: none;
			// border-bottom: 1px solid $grad-color-3;
		}
	}
}