// imports
@import '~src/assets/scss/common';
@import '~src/assets/scss/consts';


// constants
$TEXTAREA-FONT-SIZE: 1.25em;

h2.title {
	font-weight: 300;
	font-size: 2.25em;
}

div.paper {
	color: $default-dark-bg;	// in dark mode, use the default bg color as foreground

	// sizing
	min-width: 150px;
	width: 100%;
	max-width: 80vw;


	// children
	&>textarea {
		// text & typeface
		color: $default-dark-color;
		font-family: $default-font-family;
		font-size: $TEXTAREA-FONT-SIZE;

		// box
		resize: none;
		box-sizing: border-box;
		width: 100%;
		margin: 1em auto;
		height: 50vh;
		border: none;
		background: none;

		
		// focused
		&:focus {
			outline: none;
			// border-bottom: 1px solid $grad-color-3;
		}
	}
}